.star-display {
  font-size: var(--fs-xl);
  font-weight: bold;
  padding: 8px 16px;
  background-color: var(--gray-1);
  border-radius: 10px;
  color: var(--base);
  letter-spacing: 1px;
  width: fit-content;
  justify-self: end;
}
