.page-title-container {
  display: grid;
  grid-template-columns: max-content max-content 200px;
  grid-gap: 20px;
  align-items: baseline;
  margin-top: 20px;
}

.page-title-container h1 {
  text-transform: capitalize;
}

.page-title-container p {
  align-self: center;
}
