.skip-link {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
}

.skip-link:focus {
  color: gray;
  display: inline-block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
}
