* {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #fc60a8;
  --base: #333333;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: var(--base);
}

a {
  text-decoration: none;
  font-weight: bold;
}

img {
  max-width: 100%;
}

.content {
  padding: 1rem;
  max-width: 700px;
  margin: auto;
}

.header {
  max-width: 900px;
  margin: auto;
}
